/*#region variables*/
:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --accent-yellow-color: #ffff00;
  --accent-blue-color: #0071c4;
  --secondary-blue-color: #009fe3;

  --main-background-height-desktop: 560px;
}
/*#endregion variables*/

/*#region fonts*/
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('./fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/*#endregion fonts*/

/*#region animation*/
@keyframes scrollToBottom {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
/*#endregion animation*/

/*#region normalizedCSS*/
*,
html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}
/*#endregion normalizedCSS*/

/*#region generalStyles*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--black-color);
}

img {
  display: block;
  max-width: 100%;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-right: 50px;
  padding-left: 50px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 50px;
}

.title span {
  display: inline-block;
  padding: 3px;
  background-color: var(--accent-yellow-color);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.background--main {
  height: var(--main-background-height-desktop);
}
.background__color {
  width: 100%;
  height: var(--main-background-height-desktop);
  background: rgba(0, 113, 196, 0.55);
}
.background img {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: var(--main-background-height-desktop);
  opacity: 0.5;
  object-fit: cover;
}
/*#endregion generalStyles*/

/*#region header*/
.nav {
  width: max-content;
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__list li {
  margin-right: 35px;
}

.nav__list li:last-child {
  margin-right: 0;
}

.nav__list li a {
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--white-color);
  transition: color 0.4s;
}
.nav__list li a:hover {
  color: var(--accent-yellow-color);
}
.header__mobile {
  display: none;
}
/*#endregion header*/

/*#region greeting*/
.greeting__description {
  margin-bottom: 35px;
  min-height: 410px;
}

.greeting__title {
  width: max-content;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 28px;
}
.greeting__title--yellow {
  padding: 25px 20px;
  background-color: var(--accent-yellow-color);
}
.greeting__title--blue {
  width: max-content;
  margin-left: auto;
  padding: 15px 20px;
  color: var(--accent-yellow-color);
  background-color: var(--accent-blue-color);
}

.greeting__description p {
  width: 100%;
  max-width: 660px;
  margin-bottom: 45px;
  font-size: 24px;
  line-height: 29px;
  color: var(--white-color);
}
.greeting__description a {
  padding: 8px 10px;
  background-color: var(--accent-yellow-color);
  transition: all 0.4s;
}
.greeting__description a:hover {
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--accent-blue-color);
}

.greeting__button {
  margin-bottom: 30px;
  position: relative;
  left: 50%;
  right: 50%;
  background: transparent;
  border: none;
  cursor: pointer;
  animation: scrollToBottom 3s ease infinite;;
}
.greeting__button svg {
  fill: var(--white-color);
  transition: fill 0.2s;
}
.greeting__button:hover svg {
  fill: var(--accent-yellow-color);
}
/*#endregion greeting*/

/*#region team*/
.team__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  column-gap: 20px;
  row-gap: 25px;
  margin-bottom: 35px;
  overflow: hidden;
  max-height: 465px;
  transition: max-height 0.4s;
}

.team__card {
  display: flex;
  min-height: 135px;
  border: 1px solid #E4E4E4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team__card-photo {
  min-width: 135px;
  width: auto;
  height: 100%;
}
.team__card-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team__card-info {
  padding: 10px;
}
.team__card-info h3 {
  font-weight: 600;
  margin-bottom: 8px;
}
.team__card-info p {
  font-size: 13px;
}

.team__buttons {
  display: flex;
  align-items: center;
  width: 100%;
}
.team__buttons button {
  display: block;
  padding: 8px 10px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: solid 1px transparent;
  cursor: pointer;
  transition: all 0.4s;
}
.team__buttons button.view-more {
  width: 175px;
  margin: 0 auto;
  transform: translateX(50%);
  color: var(--white-color);
  background-color: var(--accent-blue-color);
}
.team__buttons button.view-more:hover {
  background-color: transparent;
  color: var(--accent-blue-color);
  border-color: var(--accent-blue-color);
}
.team__buttons button.how-to-get {
  background-color: var(--accent-yellow-color);
}
.team__buttons button.how-to-get:hover {
  background-color: transparent;
  border-color: var(--accent-yellow-color);
}
/*#endregion team*/

/*#region projects*/
.section--projects {
  background-image: url('./images/projects-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects__wrapper {
  padding-top: 85px;
}
.projects__slide {
  height: 480px;
}
.projects__slide.swiper-slide-next img{
  transform: scale(1.5);
}
.projects__slide.swiper-slide-next p {
  transform: translate(-60px, 85px);
}
.projects__slide img {
  height: 335px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.projects__slide img,
.projects__slide p {
  transition: transform 0.4s;
}
.projects__slide p:first-of-type {
  font-size: 14px;
  margin-bottom: 10px;
}
/*#endregion projects*/

/*#region timeline*/
.section--timeline {
  position: relative;
}
.timeline__line {
  position: absolute;
  top: 170px;
  z-index: -1;
  width: 100%;
  height: 2px;
  background-color: #F5F5F5;;
}
.timeline__years {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
}
.timeline__year {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.timeline__year div {
  width: 17px;
  height: 17px;
  background-color: #D9D9D9;
  border-radius: 50%;
}
.timeline__year:last-child div {
  background-color: var(--accent-blue-color);
}
.timeline__year.active div {
  background-color: var(--accent-yellow-color);
}
.timeline__year p {
  margin-bottom: 10px;
}
.timeline__content {
  display: flex;
  overflow-x: hidden;
  background: #F5F5F5;
  border: 1px solid #E4E4E4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.timeline__triangle {
  position: relative;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #E4E4E4;
  left: 40px;
  transition: left 0.4s ease;
}
.timeline__paragraph {
  display: flex;
  align-items: center;
  min-width: 100%;
  padding: 20px 40px;
}
.timeline__video-wrapper {
  position: relative;
  min-width: 260px;
  height: 170px;
  margin-right: 55px;
}
.timeline__video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*#endregion timeline*/

/*#region news*/
.title--articles {
  margin-bottom: 60px;
}

.articles__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 35px;
}

.articles__card {
  width: 31%;
  min-height: 370px;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.articles__card-photo {
  width: 100%;
  max-height: 180px;
}
.articles__card-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articles__card-description {
  padding: 25px 15px 15px;
}
.articles__card-description h3 {
  margin-bottom: 20px;
}
.articles__card-description p {
  margin: 0;
  -webkit-line-clamp: 10;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.section--articles a {
  display: block;
  width: 180px;
  padding: 8px;
  margin: 0 auto;
  background-color: var(--secondary-blue-color);
  border: solid 1px transparent;
  text-align: center;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.4s;
}
.section--articles a:hover {
  color: var(--secondary-blue-color);
  border-color: var(--secondary-blue-color);
  background-color: var(--white-color);
}
/*#endregion news*/

/*#region contacts*/
.section--contacts {
  padding-bottom: 60px;
  background-image: url('./images/contacts__background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__content {
  display: flex;
  align-items: center;
}

.contacts__photo {
  min-width: 130px;
  height: 130px;
  margin-right: 45px;
}
.contacts__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.contacts__row h4 {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
}
.contacts__row p {
  font-weight: 600;
}

.contacts__row a {
  position: relative;
  display: block;
  font-weight: 600;
  transition: color 0.4s;
}
.contacts__row a:hover {
  text-decoration: none;
  color: var(--accent-blue-color);
}
.contacts__row a:first-child {
  margin-bottom: 25px;
}
.contacts__row a::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.contacts__row:nth-child(2) a:first-child::before {
  background-image: url('./images/Facebook.svg');
}
.contacts__row:nth-child(2) a:last-child::before {
  background-image: url('./images/LinkedIn.svg');
}
.contacts__row:nth-child(3) a:first-child::before {
  background-image: url('./images/call.svg');
}
.contacts__row:nth-child(3) a:last-child::before {
  background-image: url('./images/message.svg');
}
/*#endregion contacts*/

/*#region footer*/
.footer {
  position: relative;
  bottom: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: -45px;
  background: rgba(217, 217, 217, 0.5);
}
.footer p {
  font-weight: 300;
  text-align: center;
}
/*#endregion footer*/

@media screen and (max-width: 1023px) {
  /*#region generalStyles*/
  .container {
    padding-right: 35px;
    padding-left: 35px;
  }
  .section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .title {
    margin-bottom: 35px;
  }
  /*#endregion generalStyles*/

  /*#region greeting*/
  .greeting__description {
    min-height: 430px;
  }
  /*#endregion greeting*/

  /*#region team*/
  .team__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  /*#endregion team*/

  /*#region projects*/
  .projects__wrapper {
    padding-top: 50px;
  }
  .projects__slide {
    height: 410px;
  }
  .projects__slide.swiper-slide-next img{
    transform: scale(1.4);
  }
  .projects__slide.swiper-slide-next p {
    transform: translate(-35px, 50px);
  }
  .projects__slide img {
    height: 240px;
  }
  /*#endregion projects*/
}

@media screen and (max-width: 768px) {
  /*#region generalStyles*/
  body {
    font-size: 14px;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .title {
    margin-bottom: 20px;
  }
  /*#endregion generalStyles*/

  /*#region header*/
  .nav {
    display: none;
  }
  .header__mobile {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__mobile-button {
    display: block;
    width: 30px;
    height: 25px;
    padding: 0;
    margin-left: auto;
    position: relative;
    z-index: 1;
    border: none;
    background-color: transparent;
    transition: all 0.4s;
    cursor: pointer;
  }
  .header__mobile-button span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--white-color);
    border-radius: 2px;
    transition: all 0.4s;
  }
  .header__mobile-button span.top {
    top: 0;
  }
  .header__mobile-button span.middle {
    top: 50%;
    transform: translateY(-65%);
  }
  .header__mobile-button span.bottom {
    bottom: 0;
  }

  .header__mobile-button.open {
    transform: translateY(-15px);
  }
  .header__mobile-button.open span {
    background-color: var(--accent-yellow-color);
  }
  .header__mobile-button.open span.top {
    transform: rotate(45deg) translate(15px, 15px);
  }
  .header__mobile-button.open span.middle {
    opacity: 0;
  }
  .header__mobile-button.open span.bottom {
    transform: rotate(-45deg);
  }

  .header__mobile-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: auto;
    width: 100%;
    background-color: var(--accent-blue-color);
    transform: translate(-100%, -100%);
    transition: all 0.4s;
  }

  .header__mobile-nav.open {
    transform: translateY(0);
  }

  .header__mobile-nav-list {
    width: 90%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .header__mobile-nav-list li a img {
    height: 40px;
    margin: 0 auto 25px;
  }
  .header__mobile-nav-list li a {
    width: 100%;
    text-align: center;
    color: var(--white-color);
    padding: 20px 5px;
  }
  .header__mobile-nav-list li:first-child {
    position: absolute;
    top: 0;
    left: 20px;
  }

  /*#endregion header*/

  /*#region greeting*/
  .greeting__description {
    margin: 0 auto 45px;
    min-height: 405px;
  }

  .greeting__title {
    margin-left: auto;
    margin-bottom: 35px;
    font-size: 24px;
  }
  .greeting__title--yellow {
    padding: 15px 10px;
  }
  .greeting__title--blue {
    padding: 10px;
  }

  .greeting__description p {
    margin-left: auto;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: right;
  }
  .greeting__description a {
    display: block;
    width: max-content;
    margin-left: auto;
  }
  /*#endregion greeting*/

  /*#region team*/
  .team__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .team__buttons {
    justify-content: space-between;
  }
  .team__buttons button.view-more {
    margin: 0;
    transform: translateX(0);
  }
  /*#endregion team*/

  /*#region projects*/
  .projects__wrapper {
    padding-top: 30px;
  }
  .projects__slide {
    height: 290px;
  }
  .projects__slide.swiper-slide-next img{
    transform: scale(1.3);
  }
  .projects__slide.swiper-slide-next p {
    transform: translate(-20px, 30px);
  }
  .projects__slide img {
    height: 190px;
    margin-bottom: 10px;
  }

  .projects__slide p:first-of-type {
    font-size: 12px;
    margin-bottom: 7px;
  }
  /*#endregion projects*/

  /*#region timeline*/
  .timeline__line {
    top: 125px;
  }
  .timeline__years {
    margin-bottom: 10px;
  }
  .timeline__paragraph {
    flex-direction: column;
    padding: 20px;
  }
  .timeline__video-wrapper {
    margin: 0 auto 15px;
  }
  /*#endregion timeline*/

  /*#region news*/
  .articles__card {
    min-height: 310px;
  }
  .articles__card-description {
    padding: 10px;
  }
  .articles__card-description h3 {
    margin-bottom: 5px;
  }
  /*#endregion news*/

  /*#region contacts*/
  .section--contacts {
    padding-bottom: 40px;
  }
  .contacts__content {
    align-items: flex-start;
  }
  .contacts__photo {
    margin-right: 50px;
  }
  .contacts__info {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  .contacts__row:not(:first-child) {
    margin-left: 25px;
  }
  .contacts__row h4 {
    margin-bottom: 5px;
    font-size: 18px;
  }
  .contacts__row a:first-child {
    margin-bottom: 10px;
  }
  .contacts__row a::before {
    left: -25px;
    width: 15px;
    height: 15px;
  }
  /*#endregion contacts*/

  /*#region footer*/
  .footer {
    bottom: 36px;
  }
  .footer p {
    font-size: 12px;
  }
  /*#endregion footer*/
}

@media screen and (max-width: 500px) {
  /*#region generalStyles*/
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
  .section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .title {
    font-size: 26px;
    margin-bottom: 35px;
  }
  /*#endregion generalStyles*/

  /*#region greeting*/
  .greeting__description p {
    font-size: 16px;
  }
  /*#endregion greeting*/

  /*#region team*/
  .team__cards {
    margin-bottom: 15px;
  }
  .team__buttons {
    flex-direction: column;
    gap: 15px;
  }
  /*#endregion team*/

  /*#region projects*/
  .projects__wrapper {
    padding-top: 0;
  }
  .projects__slide {
    height: auto;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }
  .projects__slide img {
    align-self: center;
  }
  .projects__slide.swiper-slide-next img{
    transform: scale(1);
  }
  .projects__slide.swiper-slide-next p {
    transform: translate(0, 0);
  }
  .projects__slide img {
    height: 140px;
    margin-bottom: 10px;
  }
  .projects__slide p {
    text-align: center;
    font-size: 12px;
  }
  /*#endregion projects*/

  /*#region timeline*/
  .timeline__line,
  .timeline__years,
  .timeline__triangle {
    display: none;
  }
  .timeline__content {
    overflow-x: scroll;
  }
  .timeline__paragraph {
    padding: 15px;
  }
  .timeline__video-wrapper {
    min-width: 200px;
    height: 110px;
    margin: 0 auto 15px;
  }
  /*#endregion timeline*/

  /*#region news*/
  .title--articles {
    margin-bottom: 30px;
  }
  .articles__wrapper {
    flex-direction: column;
    gap: 15px;
  }
  .articles__card {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: auto;
  }
  .articles__card-photo {
    max-height: 100%;
    height: 165px;
    min-width: 135px;
    max-width: 135px;
  }
  .articles__card-description {
    padding: 10px;
  }
  .articles__card-description h3 {
    margin-bottom: 5px;
  }
  .articles__card-description p {
    -webkit-line-clamp: 5;
    font-size: 12px;
  }
  /*#endregion news*/

  /*#region contacts*/
  .section--contacts {
    padding-bottom: 25px;
  }
  .contacts__content {
    flex-direction: column;
  }
  .contacts__photo {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .contacts__info {
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  /*#endregion contacts*/
  
  /*#region footer*/
  .footer {
    bottom: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .footer p {
    font-size: 8px;
  }
  /*#endregion footer*/
}
